<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>


  <% if user_signed_in? %>
    <p>Welcome <%= current_user.name %>! </p>
    <% if current_user.standard? %>
      <p> Want to create private Wiki's? <%= link_to "Upgrade Here.", new_charge_path %></p>
    <% elsif current_user.premium? %>
      <%= link_to "Downgrade to Standard", downgrade_url, data: {confirm: 'Are you sure you want to Downgrade to Standard?'} %>
    <% end %>
  <% else %>
      <p>Blocipedia is like Wikipedia, but not as good.  :( </p>
      <p>
      <%= link_to "Sign In", new_user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Like Wikipedia!</h2>
    <p>Blocipedia will people all over the world, with access to a specific test URL, create Wikis.</p>
  </div>

  <div class="col-md-4">
    <h2>And it's free!</h2>
    <p>Create and contribute to as many public wiki's as you want and that exist.  No charges, ever for highly valuable public knowledge.</p>
  </div>

  <div class="col-md-4">
    <h2>Premium Plan</h2>
    <% if user_signed_in? %>
      <% if current_user.standard? %>
        <p>Create private wiki's and keep your valuable IP within your circle of trust.  Upgrade <%= link_to "here", new_charge_path %></p>
      <% elsif current_user.premium? %>
        <p>You are already a premium member!  Collaborate in shadows as much as you want!</p>
      <% end %>
    <% else %>
      <p>Blocipedia will suck compared to Wikipedia.  Really, it will.</p>
    <% end %>
  </div>

</div>
